.cell {
    padding: 5px;
    margin: 1px;
    min-width: 30px;
    min-height: 30px;
}

.circle {
    width: 80px;
    margin: 5px;
    height: 80px;
    border-radius: 50%;
    background: white;
    transition: transform 0.5s;
}

.Red {
    background-color: #FF456C;
    transform: translateY(400px);
}

.Blue {
    background-color: #2CC5FF;
    transform: translateY(400px);
}
